* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.7;
  height: 105vh;
}

nav {
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 50px; /* Tamanho da logo */
  width: auto; /* Preserva a proporção */
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0073e6;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-items: center;
}

.image-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}

.image-item:hover {
  transform: scale(1.03);
}

.image-item {
  transition: transform 0.4s ease-in-out;
}

.image-item:hover {
  transform: scale(1.1);
}

.image-item img {
  width: 100%;
  height: auto;
  display: block;
}

.image-item p {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: #555;
}

.pagination {
  text-align: center;
  margin-top: 10px;
}

.pagination button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-buttons button {
  background-color: #0073e6;
  color: white;
  border: none;
  margin: 0 5px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-buttons button:hover {
  background-color: #005bb5;
}

.image-detail {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 20px;
  gap: 20px; 
}

.image-detail img {
  width: 50%; 
  max-width: 1000px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image-detail h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px; 
  align-items: center;
}

.image-detail p {
  width: 50%;
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  font-style: italic;
}

/* Ajustes para telas menores (tablets e celulares) */
@media (max-width: 1024px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 1rem;
  }

  .logo {
    margin: 1rem 0;
  }

  .logo a {
    font-size: 1.8rem; /* Diminui ligeiramente para tablets */
  }

  .gallery-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .image-detail img {
    width: 70%; 
  }

  .image-detail p {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .image-detail img {
    width: 90%;
  }

  .image-detail p {
    width: 90%;
  }

  .logo {
    margin: 1rem 0;
  }

  .logo a {
    font-size: 1.5rem; /* Ajuste adicional para melhorar a visualização em celulares */
  }

  nav ul {
    display: flex;
  }

  nav ul li {
    margin-left: 0;
  }
}

/* Ajustes para telas menores ainda (celulares pequenos) */
@media (max-width: 480px) {
  nav {
    flex-direction: column;
    text-align: center;
  }

  .logo a {
    font-size: 1.2rem;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-top: 1rem;
  }

  .logo {
    text-align: center; /* Centraliza a logo para telas menores */
    margin: 0.5rem 0;
  }

  .logo a {
    font-size: 1.2rem; /* Tamanho menor para encaixar bem em telas muito pequenas */
  }
  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .image-item p {
    font-size: 0.9rem;
  }

  .image-detail h1 {
    font-size: 1.5rem;
  }

  .image-detail p {
    font-size: 1rem;
    width: 100%;
  }

  .pagination-buttons button {
    padding: 8px 10px;
    font-size: 0.9rem;
  }
}
